/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

header {
  height: 84px;
}
header .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
header .headerflex {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
header .headerflex .fa-bars {
  display: none;
}
@media (max-width: 700px) {
  header .headerflex .fa-bars {
    display: inline-block;
    width: 40px;
    font-size: 30px;
  }
}
@media (max-width: 700px) {
  header .headerflex nav {
    display: none;
  }
}
header .headerflex nav ul {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
header .headerflex nav ul li a {
  color: #636060;
  font-size: 17px;
  font-family: Helvetica;
}

.s-1 {
  height: 606px;
  background-image: url("../images/acropolis.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 84px;
}
.s-1 .infodiv h2 {
  color: #fff;
  font-size: 79px;
  font-family: Helvetica;
  font-weight: 700;
  text-align: center;
  margin-bottom: 31px;
}
.s-1 .infodiv h5 {
  color: #fff;
  font-size: 19px;
  font-family: Helvetica;
  text-align: center;
}

.section2flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section2flex .infobox {
  width: 235px;
  margin-left: 20px;
}
.section2flex .infobox h4 {
  color: #636060;
  font-size: 17px;
  font-family: Helvetica;
  margin-bottom: 10px;
}
.section2flex h3 {
  color: #010101;
  font-size: 28px;
  font-family: Helvetica;
  margin-bottom: 37px;
}
.section2flex p {
  color: #636060;
  font-size: 20px;
  font-family: Helvetica;
}

.cardswrapper {
  max-width: 924px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 40px;
}
.cardswrapper .card {
  width: 286px;
  margin: 0 10px;
  margin-bottom: 56px;
}
.cardswrapper .card img {
  width: 100%;
  margin-bottom: 23px;
}
.cardswrapper .card h4 {
  color: #343232;
  font-size: 19px;
  font-family: Helvetica;
  margin-bottom: 10px;
}
.cardswrapper .card p {
  color: #636060;
  font-size: 18px;
  font-family: Helvetica;
}/*# sourceMappingURL=global.css.map */